.aboutSite{
    width: 100%;
    background-color: #678983;
    padding-top: 00px;
}
.aboutSite .contact{
    margin-top: 10% ;
}

@media screen and (max-width:650px){
    .aboutSite{
        height: auto;
    }
    .aboutSite .contact{
        margin-top: 5% ;

    }
    .aboutSite .contact h4, p{
        font-size: 15px;
    }
    
}